@import './variables.scss';
.login {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 300px;
	height: 300px;
	h1 {
		color: #F2622A;
		letter-spacing: 1px;
		text-align: center;
	}
}
.LoginId {
	width: 100%;
	margin: 0.5rem 0 0 0;
	outline: none;
	padding: 10px;
	font-size: 13px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	&:focus {
		box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
	}
} 
.btn {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
	border-radius: 4px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: $primary;
	color: #eee;
	font-weight: bold;
	margin: 1rem 0 0 0;
	text-transform: uppercase;
	width: 100%;
	&:hover {
		background-color: $primary-light;
		cursor: pointer;
	}
}
.Form {
	position: absolute;
	top: 30%;
	left: 25%;
	width: 50%;
	h1 {
		color: $secondary;
		letter-spacing: 1px;
		text-align: center;
	}
	.MuiInput-underline:before{
		display: none;
	}
}
.FormId{ 
	& div::before{
			display: none !important;
	}
	& div{
		
		& input{
			width: 100%;
			margin-bottom: 0;
			outline: none;
			padding: 10px;
			font-size: 13px;
			border: 1px solid rgba(0,0,0,0.3) !important;
			border-radius: 4px;
			box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2) !important;
		}
	}
}
.select{ 
	& div::before{
		display: none !important;
}
	& div{
		width: 100%;
		margin-bottom: 10px;
		outline: none;
		padding: 10px;
		font-size: 13px;
		border: 1px solid rgba(0,0,0,0.3) !important;
		border-radius: 4px;
		box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2) !important;
	}

}
.textarea {
	width: 100%;
	height: 150px;
	margin-bottom: 10px;
	outline: none;
	padding: 10px;
	font-size: 13px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	font-family: Arial;
}
#FormId {
	&:focus {
		box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
	}
	&::placeholder {
		position: absolute;
	}
}

.textArea{
	& div{
		& textarea{
			width: 100%;
			margin-bottom: 10px;
			outline: none;
			padding: 10px;
			margin-bottom: 1rem !important;
			font-size: 13px;
			border: 1px solid rgba(0,0,0,0.3);
			border-radius: 4px;
			box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
			min-height: 5rem;
		}
	}
}

.error_message{
	background-color: $danger-color;
	color: #FFF;
	margin: 0 ;
	padding: 0 0.5rem 0.5rem 0.5rem;
	& p{
		margin: 0 ;
	}
}