@import './variables.scss';

.header{
  height: 5em;
  background-color: aquamarine;
  padding: 0rem 2rem 1rem 2rem;
  &__list{
    @include desktop{
      display: none;
    }
  }
}

.main{
  display: flex;
}

.sider{
 
  @include smartphone-xs{
    display: none;
  }
  @include desktop{
    display: flex;
  }
  flex-direction: column;
  background-color: aquamarine;
  width: 20em;
  height: 80vh;
  
}