@import './variables.scss';

/*PAGINA SECCION MOSTRAR PROYECTO*/
/*PAGINA REQUERIMIENTO COMPLETO*/
.section {
	margin: 50px;
	h1 {
		font-size: 30px;
		color: $secondary;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
		margin-bottom: 15px;
	}
	h4 {
		font-size: 20px;
		color: $secondary;
		text-transform: uppercase;
		font-weight: 300;
		text-align: center;
		margin-bottom: 15px;
	}
	table {
		width: 100%;
		table-layout: fixed;
		border-bottom: solid 1px #52B947;
	}
	.tbl_header {
		background-color: #fff;
	}
	.tbl_content {
		overflow-x: auto;
		margin-top: 0px;
	}
	th {
		padding: 20px 15px;
		text-align: left;
		font-weight: 500;
		font-size: 12px;
		color: $primary;
		text-transform: uppercase;
	}
	td {
		padding: 15px;
		text-align: left;
		vertical-align: middle;
		font-weight: 300;
		font-size: 12px;
		color: #000;
	}
}
.NuevoRequerimiento {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 20px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
	border-radius: 4px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: $primary;
	color: #eee;
	font-weight: bold;
	margin-top: 1em;
	text-transform: uppercase;
	width: 300px;
	float: right;
	&:hover{
		background-color: $primary-light;
		cursor: pointer;
	}
}


/*Requerimiento*/

#Informacion {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  place-content: center;
  max-width: 95%;
}

#Informacion2 {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  padding: 20px;
}

#Informacion span {
  color: $secondary;
  font-weight: bold;
}

#InfoRequerimiento {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

#Titulo {
  Color: $secondary;
  border-bottom: 1px solid rgb(218, 218, 218);

  h1 {
    margin-bottom: 5px;
  }
}

.InfoContacto {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.Campos {
  text-align: left;
  margin-top: 40px;
  border-bottom: 1px solid rgb(228, 228, 228);
  border-left: 1px solid rgb(228, 228, 228);

  span {
    font-size: 12px;
    margin-left: 5px;
  }

  a {
    font-size: 14px;
    margin-left: 8px;
  }
}

.Descripcion {
  margin-top: 40px;

  span {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }
}

#btn {
  display: grid;
  place-content: center;
}

#BotEditar {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  border-radius: 3px;
  background-color: $primary;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  width: 150px;
  padding: 3px;
  margin-top: 10px;

  &:hover {
    background-color: $primary-light;
  }
}