@import './variables.scss';
/* Pagina de Inicio */

#TodoInicio {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#TodoInicio2 {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  padding: 30px 60px 60px 60px;
  background-color: #2E4054;
  border-radius: 10px;

  h1 {
    font-size: 30px;
    color: $primary;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
  }
}

.section {
  h4 {
    font-size: 20px;
    font-weight: bold !important;
    color: $secondary;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    display: grid;
    place-content: center;
  }

  table {
    table-layout: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  th {
    background: linear-gradient(#2e658b, #26495f);
    padding: 10px 7px;
    text-align: left;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
  }

  td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 15px;
    color: #fff;
    border-right: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
  }

  a {
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 5;
    border-radius: 3px;
    background-color: $secondary; 
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: $secondary-light;
    }
  }
}

/* PAGINA PROYECTO */

.NuevoRequerimiento {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  border-radius: 3px;
  background-color: $secondary;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  width: 300px;
  padding: 3px;
  margin-top: 10px;

  &:hover {
    background-color: $secondary-light;
  }
}

/*Requerimiento*/

#Informacion {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  display: grid;
  place-content: center;
  max-width: 95%;
  
  span {
    color: $secondary;
    font-weight: bold;
  }

  #Informacion2 {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    padding: 30px 60px 60px 60px;
    background-color: #2E4054;
    border-radius: 10px;
    
    #InfoRequerimiento {
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(218, 218, 218, 0.5);
      
      #Titulo {
        Color: $primary;
        border-bottom: 1px solid rgba(218, 218, 218, 0.5);
        text-align: center;
      
        h1 {
          margin-bottom: 5px;
        }
      }

    }
  }
}
.InfoContacto{    
  display: grid;
  grid-template-columns: repeat(3, 1fr);    
  grid-gap: 10px;
}

.Campos {
  text-align: left;
  margin-top: 40px;
  margin-right: 20px;
  border-bottom: 1px solid rgba(138, 138, 138, 0.5);
  border-left: 1px solid rgba(112, 112, 112, 0.5);

  span {
    font-size: 12px;
    margin-left: 5px;
  }

  a {
    font-size: 14px;
    margin-left: 8px;
    color: #ffffff;
  }
}

.Descripcion {
  margin-top: 40px;

  span {
    font-size: 15px;
  }

  p {
    font-size: 14px;
    color: #ffffff;
  }
}



#btn{
	display: grid;
	/*place-content: center;*/
	margin-top: 50px;
}

#BotEditar {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 20px;
	border-radius: 3px;  
	background-color: $secondary;
	color: #eee;
	font-weight: bold;
	text-transform: uppercase;
	width: 150px;    
	padding: 3px;
	margin-top: 10px;  
}