@import './variables.scss';

.page{
  background-color: $color-back-ground ;
  color: $color-font;
  margin: 0 0 0 !important;
  &__project__title{
    display: flex;
    justify-content: center;
  }
  &__project__description{
    display: flex;
    justify-content: center;
  }
  &__project__info{
    flex-direction: column;
    justify-content: center;
  }
  &__project__lista{
    flex-direction: column;
    justify-content: center;
    
  }
}
