$primary  : #FFFF;
$primary-dark  : #FFFF;
$primary-light  : #FFFF;

$secondary  : #FFFF;
$secondary-dark  : #FFFF;
$secondary-light  : #FFFF;

$alternative  : #FFFF;
$alternative-dark  : #FFFF;
$alternative-light  : #FFFF;

$danger-color : #FFFF;
$warning-color : #FFFF;
$success-color  : #FFFF;

// Bootstrap breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-x-large: 1200px;
// Responsive mixins 

@mixin smartphone-xs {
  @media only screen and (min-width: 0px) {
    @content;
  }
}
@mixin smartphone {
  @media only screen and (min-width: $breakpoint-small) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (min-width: $breakpoint-medium) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $breakpoint-large) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: $breakpoint-x-large) {
    @content;
  }
}